.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo-wrap {
  animation: App-logo-angulation 5s ease-in-out infinite;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-angulation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


.clearfix {
  overflow: auto;
  zoom: 1;
}

.clearfix::after {
  display: block;
  content: ' ';
  clear: both;
}


.container {
  width: 1000px;
  margin: 0 auto;
}


.list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/*
.list::after {
  content: ' ';
  flex: 1;
}*/

.item {
  width: 198px;
  padding: 20px;
  border: 1px solid #f4f4f4;
  text-align: left;
  font-size: 12px;
  margin: auto 5px 10px 5px;

}

.item:hover {
  transition: border-color 0.3s;
  border: 1px solid #ff5000;
  z-index: 1;
}

.item .title {
  height: 20px;
  display: block;
  line-height: 20px;
  overflow: hidden;
  margin: 8px 0;
  color: #666;
  font-size: 14px;
}

.item .desc {
  height: 40px;
}

.item .line {
  height: 20px;
}

.item .promo {
  color: #ff5000;
  margin-right: 3px;
}


.item .price {
  color: #999;
  font-family: arial;
  text-decoration: line-through;
}

.hotsale-hd {
  color: #ff9f00;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.hotsale-hd:before {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(45deg, #fad961, #ff9f00);
  background-image: -o-linear-gradient(45deg, #fad961, #ff9f00);
  background-image: linear-gradient(45deg, #fad961, #ff9f00);
  background: #ff9f00;
}

.bar-hd {
  position: relative;
  padding-left: 32px;
  margin-top: 5px;
  line-height: 48px;
  font-size: 20px;
}

.bar-hd:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 16px;
  top: 16px;
  left: 20px;
}


.img {
  border: 0;
  width: 198px;
  height: 198px;
}

.footer {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer a{
  color: #fff;
}
